html {
    /*font-family: Verdana;*/
    /*font-family: Tahoma;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #606e70;
}

html, body, #map-canvas, #panel-left {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    overflow:hidden;
}

#panel-left {
    float:left;
    width:35%;
}

#map-canvas {
    float:left;
    width: 65%;
}

#panel-header {
    width:100%;
    height:72px;
    position:relative;
    border-bottom: 1px solid #e6e9ed;
}

#panel-header-left {
    width: 40%;
    height: 100%;
    float: left;    
    display: flex;
    align-items: center;
}

#panel-header-right {
    width: 60%;
    height: 100%;
    float: left;    
    display: flex;
    align-items: center;
    justify-content: right;
}


#presInfo {
    margin-right: 15px;
    text-align: right;
}




@media only screen and (max-width: 1026px) {

    #map-canvas {
        width: 100%;
    }
    #panel-left {
        display: none;
    }
    
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #092d40;
    margin:0;
}

.pres-Descript {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    align-content: end;
}

#tabBoardsId {
    font-size: 11px;
    margin: 5px 10px 5px 0px;
    width:100%;
}
.rowPass:hover {
    background: #c6e4f5;
}

.tabBoards, .tabBoards td {
    border: 1px #DDD solid;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

.tabBoards th {
    border: 1px solid #d4d4d4;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
    background-color: #1774a6;
    color: #f2f2f2;
}
.rowPass {
    background-color: none;
    /*color: #727a84;*/
    cursor: pointer;
}

.rowAct {
    background-color: #208DC8;
    color: #FFFFFF;
    cursor: pointer;
}

.informWindow {    
    text-align: center;
    max-width:600px;
}

.informWindow img {
    display: block;
    max-height: 80%;
    max-width:100%
}


